.App {
  text-align: center;
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  padding: 25px;
}

.properties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.char {
  display: inline-block; 
  transform: translateY(100%); 
}

.name-container {
  display: flex; /* Enables Flexbox */
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  justify-content: center; /* Center the names horizontally */
  align-items: center; /* Align the names vertically */
}