.App {
  text-align: center;
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  padding: 25px;
}

.properties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.char {
  transform: translateY(115px);
  transition: transform .5s;
}