.App {
  text-align: center;
  font-family: 'Saira', sans-serif;
  font-weight: 400;
  padding: 25px;
}

.properties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.char {
  display: inline-block; 
  transform: translateY(100%); 
}

.name-container {
  display: flex; /* Enables Flexbox */
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  justify-content: center; /* Center the names horizontally */
  align-items: center; /* Align the names vertically */
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px; /* Adjust as needed */
  padding: 0 20px; /* Padding for the initial circle shape */
  overflow: hidden;
  border: 2px solid #ccc;
  transition: all 0.5s ease-in-out; /* Transition for smooth expansion */
  cursor: pointer;
  background: white;
  /* Initial border-radius is half the height to make it a perfect semicircle */
  border-radius: 25px; /* This should always be half of the height */
}


.button-text {
  white-space: nowrap;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s, opacity 0.5s;
}


/* Hover state for button if needed */
.button:hover {
  background: #e1e1e1; /* Example hover color */
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cacaca;
}