* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f4;
}

header {
  display: grid;
  place-content: center;
  height: 100vh;
}

h1 {
  font-size: 7rem;
  font-family: 'Chakra Petch', sans-serif;
  line-height: 5.9rem;
  overflow: hidden; 
  margin: 0 15px; /* Adds spacing between names, adjust as needed */
}